body {
    background-image: url("../bg1.png");
    background-size: cover;
}

.brand {
    position: relative;
    left: 5%;
}

.navbar {
    position: absolute;
    top: 5%;
    right: 5%;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}